<%- layout('layouts/boilerplate') %>
<div class="container">
  <h2><%=subject.title%></h2>
  <h3><%=subject.id%></h3>
  <p class="lead"><%=subject.description%></p>

<div class="h3 mb-3"><a href="<%=subject.syllabus%>" target="_blank">Syllabus</a></div>

<% if (subject.book) { %>
<div class="h3 mb-3"><a href="<%=subject.book%>" target="_blank">Book</a></div>
<% } %>

<% if (subject.notebooks[0]) { %>
<h2>Notebooks</h2>
<% subject.notebooks.sort((a, b) => { %>
  <% if (a.name > b.name ) return 1; else if (a.name < b.name) return -1; else return 0 %>
<% }); %>
<% for (let i = 0; i < subject.notebooks.length; i++) { %>
  <div class="mb-3">
  <a href="<%=subject.notebooks[i].link%>" target="_blank" class="btn btn-primary"><%=subject.notebooks[i].name%></a>
  <% if (currentUser && (currentUser.username == subject.owner.username)) { %>
    <a href="/subjects/<%=subject.id%>/notebooks/<%=subject.notebooks[i]._id%>" class="btn btn-secondary">Edit</a>
    <form action="/subjects/<%=subject.id%>/notebooks/<%=subject.notebooks[i]._id%>?_method=DELETE" method="POST" class="deleteForm">
      <button class="btn btn-danger">Delete</button>
    </form>
    <% } %>
  </div>
  <% } %>
<% } %>

<% if (subject.videos[0]) { %>
<h2>Videos</h2>
<% subject.videos.sort((a, b) => { %>
  <% if (a.name > b.name ) return 1; else if (a.name < b.name) return -1; else return 0 %>
<% }); %>
<% for (let i = 0; i < subject.videos.length; i++) { %>
  <div class="mb-3">
  <a href="<%=subject.videos[i].link%>" target="_blank" class="btn btn-primary"><%=subject.videos[i].name%></a>
  <% if (currentUser && (currentUser.username == subject.owner.username)) { %>
    <a href="/subjects/<%=subject.id%>/videos/<%=subject.videos[i]._id%>" class="btn btn-secondary">Edit</a>
    <form action="/subjects/<%=subject.id%>/videos/<%=subject.videos[i]._id%>?_method=DELETE" method="POST" class="deleteForm">
      <button class="btn btn-danger">Delete</button>
    </form>
  <% } %>
  </div>
<% } %>
<% } %>

<% if (subject.testBanks[0]) { %>
<h2>Testbanks</h2>
<% subject.testBanks.sort((a, b) => { %>
  <% if (a.name > b.name ) return 1; else if (a.name < b.name) return -1; else return 0 %>
<% }); %>
<% for (let i = 0; i < subject.testBanks.length; i++) { %>
<div class="mb-3">
  <a href="<%=subject.testBanks[i].link%>" target="_blank"  class="btn btn-primary"><%=subject.testBanks[i].name%></a>
  <% if (currentUser && (currentUser.username == subject.owner.username)) { %>
    <a href="/subjects/<%=subject.id%>/testbanks/<%=subject.testBanks[i]._id%>" class="btn btn-secondary">Edit</a>
    <form action="/subjects/<%=subject.id%>/testbanks/<%=subject.testBanks[i]._id%>?_method=DELETE" method="POST" class="deleteForm">
      <button class="btn btn-danger">Delete</button>
    </form>
  <% } %>
  </div>
<% } %>
<% } %>

<% if (currentUser && (currentUser.username == subject.owner.username)) { %>
<div class="mb-3 mt-5">
  <a href="/subjects/<%=subject.id%>/notebooks" class="btn btn-primary w-50">Add new notebook</a>
</div>

<div class="mb-3">
  <a href="/subjects/<%=subject.id%>/videos" class="btn btn-primary w-50">Add new video</a>
</div>

<div class="mb-3">
<a href="/subjects/<%=subject.id%>/testbanks" class="btn btn-primary w-50">Add new testbank</a>
</div>

<div class="mb-3 mt-5">
  <a href="/subjects/<%=subject.id%>/edit" class="btn btn-secondary w-50">Edit subject</a>
</div>

<div class="mb-3">
  <form action="/subjects/<%=subject.id%>?_method=DELETE" method="POST">
    <button class="btn btn-danger w-50">Delete subject</button>
  </form>
</div>
<% } %>

<a href="/subjects" class="btn btn-secondary w-50 mt-3">Back</a>
</div>